tensorflow==2.17.0
tensorflow-hub==0.14.0  # Update tensorflow-hub to a compatible version
streamlit==1.39.0
ipykernel==6.29.5
ipython==8.28.0
matplotlib==3.9.2
numpy==1.26.4
pillow==10.4.0
setuptools==75.1.0
pandas
gdown
